/nbproject/private/
/EffectiveExerciseDozen-war/nbproject/private/
/EffectiveExerciseDozen-ejb/nbproject/private/
/EffectiveExerciseDozen-ejb/build/
/EffectiveExerciseDozen-ejb/dist/
/EffectiveExerciseDozen-war/build/
/build/
/dist/
/EffectiveExerciseDozen-war/dist/